body{
    background-color: #ddd;
    height: 100vh;

}
div.container{
    margin-top: 5rem;
}
.animationLink{
    animation: destello 1.5s ease infinite;
}
@keyframes destello {
    from {
        text-shadow: 0px 0px 8px #fbbd08, 0px 0px 8px #fbbd08, 0px 0px 16px #fbbd08,
        0px 0px 16px #fbbd08, 0px 0px 16px #fbbd08, 0px 0px 16px #fbbd08, 0px 0px 16px #fbbd08,
        0px 0px 16px #fbbd08, 0px 0px 32px #fbbd08, 0px 0px 32px #fbbd08;
    }
}
/* Loader */
.ui.big.active.text.centered.inline.loader.loader{
    position: absolute !important;
    top: 50%;
    left: 50%;
}
/* Cart */
table.ui.very.basic.table tr td:nth-child(6){
    color: red;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
}
table.ui.very.basic.table tr td img{
    width: 8em;
    height: max-content;
    border-radius: 0;
}
strong.totalPrice{
    margin: 0 2rem;
}
/* Item */
.ui.card {
    height: 300px;
    margin: auto;
}
.itemListContainer{
    font-weight: 600;
    text-align: center;
    padding: 1rem 0 2rem 0;
    margin-top: 5rem;
}
.ItemList{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 254px);
    gap: 1rem;
    margin: 2rem 1rem;
}
/* Item Detail */
.ItemDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7rem;
}
.ItemDetail > .image,
.ItemDetail > .image > img{
    height: 370px;
}
.ItemDetail > .ui.card{
    margin: 0;
    height: auto;
}
.ItemDetail > .ui.card > .content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ItemDetail > .ui.card > .content > .header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ItemDetail > .ui.card > .content > .header i{
    cursor: pointer;
    font-size: 1em;
}

.ItemDetail button.favorite{
    margin: 0 auto;
}
.ItemDetail button.favorite i{
    margin: 0 !important;
}
.count-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.5rem;
}
/* Navbar */
nav.navbar *{
    color: white;
}
nav.navbar *:hover{
    color: #bbb;
}
nav.navbar{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 9;
    width: 100%;
    background-color: #212529;
    padding: 0.75rem 0;
}
div.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.75rem;
    margin: 0 3.75rem;
}
.navbar-brand{
    font-size: 1.5rem;
    text-decoration: none;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-nav a.nav-link{
    padding: 0.75rem;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
a.cart{
    position: relative;
}
a.cart span#cart {
    position: absolute;
    top: 0;
    font-size: 1.125rem;
    font-weight: 600;
}
/* IconCart */
span#cart::before{
    content: attr(count);
    color: #fbbd08;
}
/* Wish List */
table.basic.table tbody tr td span{
    cursor: pointer;
    font-size: 0.9rem;
}
table.basic.table tbody tr td span:first-child{
    color: red;
}
table.basic.table tbody tr td span:last-child{
    color: blue;
}
/* CheckOut */
.checkOutContainer{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    padding: 2rem 0;
}
.checkOutDetail{
    display: flex !important;
    flex-direction: row;
    justify-content: space-evenly;
}
.checkOutContainer form{
    width: 75vh !important;
    background: #aaa;
    padding: 2rem;
    border-radius: 0.5rem;
}

/* MediaQueries */
@media screen and (max-width: 640px) {
    .ItemDetail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 7rem;
        align-items: center;
    }
    .ItemDetail > .image,
    .ItemDetail > .image > img{
        height: auto;
        width: 290px;
    }
}