html,
#root{
    background-color: #ddd;
}
.card{
    width: 16rem;
    text-align: center
}
.ItemList{
    display: grid;
    grid-template-columns: repeat(auto-fill, 254px);
    grid-gap: 1rem 0;
    gap: 1rem;
    margin: 2rem 1rem;
}
.card-img-top{
    height: 170px;
}
.card-img-overlay > .card-header,
.card-img-overlay > .card-title{
    color: #fff;
}
.ItemDetail{
    width: 90%;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
